.footer {
    position: fixed;
    left: 0px;
    bottom: 5px;
    right: 0px; 
    /* width: 95%; */
    background-color: rgba(29,30,34,255);
    color: #ee6a6e;
    text-align: center;
}

.getCSV{
    text-align: center;
    margin-top: 10rem;
}

body{
    background-color: rgba(52,61,70,255);
    color: rgba(226,228,229,255);
}